<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Test</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/config/base-context.xml</param-value>
	</context-param>

	<filter>
		<filter-name>BaseFilter</filter-name>
		<filter-class>com.ebook.common.filters.BaseFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>BaseFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>spring servlet</servlet-name>
		<servlet-class>com.ebook.common.aspect.BaseDispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/base-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring servlet</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	<servlet>
        <servlet-name>jasperReportViewer</servlet-name>
        <servlet-class>com.ebook.common.utility.JasperReportViewer</servlet-class>
    </servlet>
    <servlet-mapping>
		<servlet-name>jasperReportViewer</servlet-name>
		<url-pattern>/reportViewer.rpt</url-pattern>
	</servlet-mapping>
		 <servlet>
    <servlet-name>CXFServlet</servlet-name>
    <servlet-class>
        org.apache.cxf.transport.servlet.CXFServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CXFServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>HomePage.jsp</welcome-file>
	</welcome-file-list>
</web-app>